<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" >MENU</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/user/dashboard">Dashboard</a></li>
          <li><a href="/user/route">Route</a></li>
        ...
        </ul>
    </aside>

    <!-- main content goes here -->
    <p class="nav-text">Behold your triumphs</p>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>


<div class=row>
  <div class="large-12 columns">
 
  <ul class="full_width" data-orbit>
   <li>
     <img src="/images/fastest_splash_v2.jpg" alt="slide 1" />
     <div class="orbit-caption">
       GHOSTMODE FASTEST
     </div>
   </li>
   <li class="active">
     <img src="/images/farthest_splash_v2.jpg" alt="slide 2" />
     <div class="orbit-caption">
       GHOSTMODE FARTHEST
     </div>
   </li>
   <li>
     <img src="/images/last_splash.jpg" />
     <div class="orbit-caption">
       GHOSTMODE LAST
     </div>
   </li>
  </ul>

  </div>
</div>
<a href="/compare" class="nice blue radius button split">Route Select <span data-dropdown="drop"></span></a><br>
<ul id="drop" class="f-dropdown" data-dropdown-content>
  <li><a href="#">Route 1</a></li>
  <li><a href="#">Route 2</a></li>
  <li><a href="#">Route 3</a></li>
</ul>

<div>
  <form method="POST" action="/comparison">
    <input type="hidden" value="1" name="route_id">
    <input type="hidden" value="1" name="user_id">
    <input type="hidden" value="1" name="compartive_user_id">
    <input class="nice blue radius button" type="Submit" value="Route Compare">
  </form>
</div>


     