<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" >MENU</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul>
          <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="http://localhost:3000/user/dashboard">Dashboard</a></li>
          <li><a href="http://localhost:3000/user/route">Route</a></li>
        ...
        </ul>
    </aside>

    <!-- main content goes here -->
    <p class="nav-text">Behold your triumphs</p>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>


<div class=row>
  <div class="large-12 columns">
 
  <ul class="full_width" data-orbit>
   <li>
     <img src="/images/fastest_splash_v2.jpg" alt="slide 1" />
     <div class="orbit-caption">
       GHOSTMODE FASTEST
     </div>
   </li>
   <li class="active">
     <img src="/images/farthest_splash_v2.jpg" alt="slide 2" />
     <div class="orbit-caption">
       GHOSTMODE FARTHEST
     </div>
   </li>
   <li>
     <img src="/images/last_splash.jpg" />
     <div class="orbit-caption">
       GHOSTMODE LAST
     </div>
   </li>
  </ul>

  </div>
</div>
     