
<!--
  <div class="row">
    <div class="large-12 columns">
      <h1>welcome to ghostmode</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="panel">
        <p>USER</p>
       </div>
    </div>
  </div> -->

<table align="center">>
  <thead>
    <tr>
      <th width="200">USER</th>
      <th width="150">USER DATA</th>
      <th width="200">RIVAL</th>
      <th width="150">RIVAL DATA</th>
      <th width="100">SPLITS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>U</td>
      <td>UD</td>
      <td>R</td>
      <td>RD</td>
      <td>split1</td>
    </tr>
    <tr>
      <td>U2</td>
      <td>UD2</td>
      <td>R2</td>
      <td>RD2</td>
      <td>split2</td>
    </tr>
    <tr>
      <td>U3</td>
      <td>UD3</td>
      <td>R3</td>
      <td>RD3</td>
      <td>split3</td>
    </tr>
    <tr>
      <td>U4</td>
      <td>UD4</td>
      <td>R4</td>
      <td>RD4</td>
      <td>split4</td>
    </tr>
    <tr>
      <td>U5</td>
      <td>UD5</td>
      <td>R5</td>
      <td>RD5</td>
      <td>split5</td>
    </tr>
  </tbody>
</table>


  <!--
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="panel">
        <p>RIVAL</p>
       </div>
    </div>
  </div> -->

  <div class="row">
    <div class="large-12 columns">
      <label>RIVALS</label>
        <select>
          <option value="Megatron">Megatron</option>
          <option value="Starbuck">Starbuck</option>
          <option value="Luke">Luke</option>
          <option value="Your Mom">Your Mom</option>
        </select>
      </div>
    </div>

    <div class="row">
        <div class="large-3 columns">
          <h1><img src="https://drive.google.com/file/d/0B4AI7c4IsaypVlp4STN2RGxJUEk/view?usp=sharing"/></h1>
        </div>
        <div class="large-9 columns">
          <ul class="right button-group">
          <li><a href="#" class="button">Link 1</a></li>
          <li><a href="#" class="button">Link 2</a></li>
          <li><a href="#" class="button">Link 3</a></li>
          <li><a href="#" class="button">Link 4</a></li>
          </ul>
         </div>
       </div>
      
          <!--
          ?img slider?
          <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
          </div>
          -->
     
<!--      
 <ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="U1">
    <div>
      <h2>LONGEST RUN</h2>
      <h3>Distance</h3>
    </div>
  </li>
  <li data-orbit-slide="U2">
    <div>
      <h2>FASTEST RUN</h2>
      <h3>AVG speed</h3>
    </div>
  </li>
  <li data-orbit-slide="U3">
    <div>
      <h2>LAST RUN</h2>
      <h3>date distance</h3>
    </div>
  </li>
</ul> -->

<ul class="example-orbit" data-orbit>
  <li>
    <img src="http://www.runnerskitchen.com.au/wp-content/uploads/2014/07/alone-runner.jpg" alt="slide 1" />
    <div class="orbit-caption">
      GHOSTMODE
    </div>
  </li>
  <li class="active">
    <img src="http://media1.popsugar-assets.com/files/2014/01/07/870/n/1922729/55c11d9e8890b359_How_to_start_running.jpg.xxxlarge/i/How-Start-Running.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="http://ascendpromotionsinc.com/ascendwp/wp-content/uploads/2013/08/Motion-Blurred-runner-running.jpg" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>

  <!-- Timer and Play/Pause Button -->
  <div class="orbit-timer">
    <span></span>
    <div class="orbit-progress"></div>
  </div>
</div>

<!-- Bullets -->
<ol class="orbit-bullets">
  <li data-orbit-slide-number="1"></li>
  <li data-orbit-slide-number="2" class="active"></li>
  <li data-orbit-slide-number="3"></li>
</ol>
      
     
     
      <div class="row">
        <div class="large-4 columns">
          <img src="https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="https://ununsplash.imgix.net/photo-1416862291207-4ca732144d83?q=75&fm=jpg&s=df8c00463528dcbff9e2f80eb9c09516"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="https://ununsplash.imgix.net/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?q=75&fm=jpg&s=a92e8f11469dcf78be8e8eaf8bee482c"/>
          <h4>This is a content section.</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>Get in touch!</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>We'd love to hear from you, you attractive person you.</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
    