
<!--
  <div class="row">
    <div class="large-12 columns">
      <h1>welcome to ghostmode</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="panel">
        <p>USER</p>
       </div>
    </div>
  </div> -->
<!-- 


 


<table >
  <thead>
    <tr>
      <th width="200">CHECKPOINT</th>
      <th width="150">TIME</th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <td>CHECK1</td>
      <td>TIME1</td>
    </tr>
    <tr>
      <td>CHECK2</td>
      <td>TIME2</td>
    </tr>
    <tr>
      <td>CHECK3/td>
      <td>TIME3</td>
    </tr>
    <tr>
      <td>CHECK4</td>
      <td>TIME4</td>
    </tr>
    <tr>
      <td>CHECK5</td>
      <td>TIME5</td>
    </tr>
  </tbody>
</table>

<table >
  <thead>
    <tr>
      <th width="200">RIVAL CHECKPOINT</th>
      <th width="150">RIVAL TIME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RCHECK1</td>
      <td>RTIME1</td>
    </tr>
     <tr>
      <td>RCHECK2</td>
      <td>RTIME2</td>
    </tr>
     <tr>
      <td>RCHECK3</td>
      <td>RTIME3</td>
    </tr>
     <tr>
      <td>RCHECK4</td>
      <td>RTIME4</td>
    </tr>
     <tr>
      <td>RCHECK5</td>
      <td>RTIME5</td>
    </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th width="150">SPLITS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SPLIT1</td>
    </tr>
    <tr>
      <td>SPLIT2</td>
    </tr>  
    <tr>
      <td>SPLIT3</td>
    </tr>
    <tr>
      <td>SPLIT4</td>
    </tr>
    <tr>
      <td>SPLIT5</td>
    </tr>
  </tbody>
</table
  <!--
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <div class="panel">
        <p>RIVAL</p>
       </div>
    </div>
  </div> -->
<!-- 
  <div class="row">
    <div class="large-12 columns">
      <label>RIVALS</label>
        <select>
          <option value="Megatron">Megatron</option>
          <option value="Starbuck">Starbuck</option>
          <option value="Luke">Luke</option>
          <option value="Your Mom">Your Mom</option>
        </select>
      </div>
    </div>  -->

<!--     <div class="row">
        <div class="large-3 columns">
          <h1><img src="https://drive.google.com/file/d/0B4AI7c4IsaypVlp4STN2RGxJUEk/view?usp=sharing"/></h1>
        </div>
        <div class="large-9 columns">
          <ul class="right button-group">
          <li><a href="#" class="button">Link 1</a></li>
          <li><a href="#" class="button">Link 2</a></li>
          <li><a href="#" class="button">Link 3</a></li>
          <li><a href="#" class="button">Link 4</a></li>
          </ul>
         </div>
       </div>
       -->
          <!--
          ?img slider?
          <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
          </div>
          -->
     
<!--      
 <ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="U1">
    <div>
      <h2>LONGEST RUN</h2>
      <h3>Distance</h3>
    </div>
  </li>
  <li data-orbit-slide="U2">
    <div>
      <h2>FASTEST RUN</h2>
      <h3>AVG speed</h3>
    </div>
  </li>
  <li data-orbit-slide="U3">
    <div>
      <h2>LAST RUN</h2>
      <h3>date distance</h3>
    </div>
  </li>
</ul> -->

<ul class="example-orbit" data-orbit>
  <li>
    <img src="/images/ghost_hero.jpg" alt="slide 1" />
    <div class="orbit-caption">
      GHOSTMODE powered by Strava
    </div>
  </li>
  <li class="active">
    <img src="http://media1.popsugar-assets.com/files/2014/01/07/870/n/1922729/55c11d9e8890b359_How_to_start_running.jpg.xxxlarge/i/How-Start-Running.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="???"/>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>

 <!-- Timer and Play/Pause Button -->
  <!-- <div class="orbit-timer">
    <span></span>
    <div class="orbit-progress"></div>
  </div>
</div> -->


     
      <div class="row">
        <div class="large-4 columns">
          <img src="https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867"/>
          <h4>SEARCH</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="https://ununsplash.imgix.net/photo-1416862291207-4ca732144d83?q=75&fm=jpg&s=df8c00463528dcbff9e2f80eb9c09516"/>
          <h4>DESIGN A ROUTE</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        
        <div class="large-4 columns">
          <img src="https://ununsplash.imgix.net/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?q=75&fm=jpg&s=a92e8f11469dcf78be8e8eaf8bee482c"/>
          <h4>POST YOUR TRIUMPH</h4>
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
      
        </div>
        
     
    <div class="row">
        <div class="large-12 columns">
        
          <div class="panel">
            <h4>IS THIS BOX HALF FULL OR JUST ANNOYING?</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>DO YOU LIKE BEER?</p>
              </div>
              <div class="large-3 columns">
                <a href="#" class="radius button right">BEER ME!</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
     
       
      
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>team ghostmode. powered by beer.</p>
            </div>
            <div class="small-6 columns">
              <ul class="inline-list left">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
    