<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" >MENU</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul>
          <li><a href="http://localhost:3000/">Home</a></li>
          <li><a href="http://localhost:3000/user/dashboard">Dashboard</a></li>
          <li><a href="http://localhost:3000/user/route">Route</a></li>
        ...
        </ul>
    </aside>

    <!-- main content goes here -->
    <p class="nav-text">You have acheived your goals, and layed waste to the feats of others. Its time to send the proof.</p>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>












<form>
  
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <a href="#" data-reveal-id="myModal"><span class="prefix">Taunt</span></a>
        </div>
        <div class="small-9 columns">
          <input type="text" placeholder="your rival's email">
        </div>
      </div>
    </div>
  <div id="myModal" class="reveal-modal" data-reveal>
  <h2>Run Data Sent.</h2>
  <p class="lead">Gloating accompished.</p>
  <p>Go out and destroy more records, you beast!</p>
  <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
    
</form>

